-
  const arrow_up_icon = `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M16.9931 7.75781C16.9931 7.3436 16.6573 7.00781 16.2431 7.00781L10.5862 7.00781C10.172 7.00781 9.83624 7.3436 9.83624 7.75781C9.83624 8.17203 10.172 8.50781 10.5862 8.50781L14.4324 8.50781L7.22748 15.7128C6.93459 16.0057 6.93459 16.4805 7.22748 16.7734C7.52038 17.0663 7.99525 17.0663 8.28814 16.7734L15.4931 9.56847L15.4931 13.4147C15.4931 13.8289 15.8289 14.1647 16.2431 14.1647C16.6573 14.1647 16.9931 13.8289 16.9931 13.4147L16.9931 7.75781Z" fill="#F8F1DF"/>
  <path d="M16.2428 7.00781C16.657 7.00781 16.9928 7.3436 16.9928 7.75781L16.9928 13.4147C16.9928 13.8289 16.657 14.1647 16.2428 14.1647C15.8286 14.1647 15.4928 13.8289 15.4928 13.4147L15.5168 8.4874L10.5859 8.50781C10.1717 8.50781 9.83594 8.17203 9.83594 7.75781C9.83594 7.3436 10.1717 7.00781 10.5859 7.00781L16.2428 7.00781Z" fill="#F8F1DF"/>
  </svg>`

  const plus_icon = `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12 5.25C12.4142 5.25 12.75 5.58579 12.75 6V18C12.75 18.4142 12.4142 18.75 12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V6C11.25 5.58579 11.5858 5.25 12 5.25Z" fill="#F8F1DF"/>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M18.75 12C18.75 12.4142 18.4142 12.75 18 12.75L6 12.75C5.58579 12.75 5.25 12.4142 5.25 12C5.25 11.5858 5.58579 11.25 6 11.25L18 11.25C18.4142 11.25 18.75 11.5858 18.75 12Z" fill="#F8F1DF"/>
  </svg>`

  const main_person = {
    img: 'team/user',
    type: 'jpg',
    name: 'Хлыбов<br /> Алексей Владимирович',
    position: 'Директор компании',
    text: 'Текст прямой речи Алексея сейчас находится в разработке. Описываем в тексте его основную миссию. для чего он ведет это дело, какую помощь оказывает вашему бизнесу. Текст прямой речи Алексея сейчас',
  }

  const team_slides = [
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
    {
      img: 'team/user',
      type: 'jpg',
      name: 'Константинопольский<br /> Константин Константинович',
      position: 'Руководитель отдела',
      info: {
        title: 'Образование',
        text: '<p>Текст в разработке. В 2000 году окончил факультет «Экономика и управление на предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе «Стратегический менеджмент» в РЭУ им. Г.В. Плеханова, в 2010 году окончила факультет «Мастер делового администрирования» (MBA)» в НОУВПО Институте экономики и финансов СИНЕРГИЯ, </p>'
      },
      job: {
        title: 'Трудовая деятельность',
        text: '<p>Текст в разработке. В 2000 году окончила факультет «Экономика и управление</p><p>На предприятии текстильной и лёгкой промышленности» РосЗИТЛП, в 2008 году прошла повышение квалификации по специализации по программе</p><p>В 2008 году прошла повышение квалификации по специализации по программе</p>'
      }
    },
  ]