-
  const dropdowns = [
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка Текст вопроса, примерный объем текста 1 строка Текст вопроса, примерный объем текста 1 строка Текст вопроса, примерный объем текста 1 строка Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
    {
      number: '01',
      title: 'Текст вопроса, примерный объем текста 1 строка',
      text: 'Текст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекстописания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвноТекст описания блока в разработке, примерный объём текста может варьировтаься от 2–3 строк до 4–5. Все ситуалисвно',
    },
  ]