.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background: var(--color-dark);
  padding: to-rem(16, 0, 16);
  transition: transform 0.4s ease-in-out;

  @media (min-width: 1200px) {
    padding: to-rem(32, 0);
  }

  .l-default {
    @media (max-width: 1199px) {
      padding: to-rem(0, 16);
    }
  }

  &--hide {
    transform: translateY(-100%);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1199px) {
      align-items: center;
      border-radius: to-rem(12);
      background: var(--color-card-bg);
      padding: to-rem(4);
    }

    &-logo {
      text-align: center;
    }
  }

  &__logo {
    margin: 0 auto;

    @media (max-width: 1199px) {
      width: to-rem(193);
      margin-top: to-rem(1);

      svg {
        width: 100%;
        height: auto;
      }
    }
  }
}