header.header
  .l-default
    .header__wrapper
      .header__menu
        include ../.././components/menu/menu.pug
      .header__logo
        include ../.././components/logo/logo.pug
      .header__contacts
        include ../.././components/contacts/contacts.pug
