header.header
  .l-default
    .header__wrapper
      .header__wrapper-item
        .header__menu
          include ../.././components/menu/menu.pug
      .header__wrapper-item.header__wrapper-logo
        .header__logo
          include ../.././components/logo/logo.pug
      .header__wrapper-item
        .header__contacts
          include ../.././components/contacts/contacts.pug
