.input {
  display: flex;
  flex-direction: column;

  &-label {
    margin-bottom: to-rem(8);
  }

  input {
    min-height: to-rem(56);
    border-radius: to-rem(12);
    color: var(--color-white);
    background: var(--color-card-bg);
    padding: to-rem(0, 32);

    &::placeholder {
      opacity: 0.5;
    }
  }
}