.services {
  padding-bottom: to-rem(160);

  &__title {
    margin-bottom: to-rem(64);
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: to-rem(16);
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: to-rem(32);
    background: var(--color-card-bg);
    border-radius: to-rem(32);
    padding: to-rem(8, 24, 8, 8);

    &-img {
      position: relative;
      min-height: to-rem(384);
      border-radius: to-rem(24);

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-title {
      margin-bottom: to-rem(16);
    }

    &-text {
      opacity: 0.5;
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding: to-rem(32, 0, 24);
    }

    .button {
      max-width: 100%;
      margin-top: auto;
    }
  }
}