-
  const close_menu_icon = `
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M16.7745 7.2276C17.0674 7.52049 17.0674 7.99536 16.7745 8.28826L8.28919 16.7735C7.9963 17.0664 7.52142 17.0664 7.22853 16.7735C6.93564 16.4806 6.93564 16.0058 7.22853 15.7129L15.7138 7.2276C16.0067 6.9347 16.4816 6.9347 16.7745 7.2276Z" fill="#F8F1DF"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7744 16.7745C16.4815 17.0674 16.0066 17.0674 15.7137 16.7745L7.22842 8.28919C6.93552 7.9963 6.93552 7.52142 7.22842 7.22853C7.52131 6.93564 7.99618 6.93563 8.28908 7.22853L16.7744 15.7138C17.0673 16.0067 17.0673 16.4816 16.7744 16.7745Z" fill="#F8F1DF"/>
    </svg>`

  const menu_form_icon = `
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.52955 6.41438C6.20611 6.67313 6.15367 7.1451 6.41242 7.46855L10.0376 12L6.41242 16.5315C6.15367 16.855 6.20611 17.3269 6.52955 17.5857C6.853 17.8444 7.32497 17.792 7.58373 17.4685L11.5837 12.4685C11.8029 12.1946 11.8029 11.8054 11.5837 11.5315L7.58373 6.53151C7.32497 6.20806 6.853 6.15562 6.52955 6.41438Z" fill="#F8F1DF"/>
      <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.5296 6.41438C12.2061 6.67313 12.1537 7.1451 12.4124 7.46855L16.0376 12L12.4124 16.5315C12.1537 16.855 12.2061 17.3269 12.5296 17.5857C12.853 17.8444 13.325 17.792 13.5837 17.4685L17.5837 12.4685C17.8029 12.1946 17.8029 11.8054 17.5837 11.5315L13.5837 6.53151C13.325 6.20806 12.853 6.15562 12.5296 6.41438Z" fill="#F8F1DF"/>
    </svg>`


  const menu_items = [
    {
      href: '#',
      text: 'Грузоперевозки из Китая',
    },
    {
      text: 'Представительство в Китае',
      submenu: [
        {
          submenu: {
            items: [
              {
                text: 'США',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из США',
                  },
                  {
                    href: '#',
                    text: 'Доставка в США',
                  },
                ],
              },
              {
                text: 'Канада',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из Канада',
                  },
                  {
                    href: '#',
                    text: 'Доставка в Канада',
                  },
                ],
              },
              {
                text: 'Туркменистан',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из Туркменистана',
                  },
                  {
                    href: '#',
                    text: 'Доставка в Туркменистан',
                  },
                ],
              },
            ],
          },
        }
      ],
    },
    {
      text: 'География грузоперевозок',
      submenu: [
        {
          submenu: {
            items: [
              {
                text: 'США',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из США',
                  },
                  {
                    href: '#',
                    text: 'Доставка в США',
                  },
                ],
              },
              {
                text: 'Канада',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из Канада',
                  },
                  {
                    href: '#',
                    text: 'Доставка в Канада',
                  },
                ],
              },
              {
                text: 'Туркменистан',
                submenu: [
                  {
                    href: '#',
                    text: 'Доставка из Туркменистана',
                  },
                  {
                    href: '#',
                    text: 'Доставка в Туркменистан',
                  },
                ],
              },
            ],
          },
        }
      ],
    },
    {
      href: '#',
      text: 'Экспорт',
    },
    {
      href: '#',
      text: 'Импорт',
    },
    {
      href: '#',
      text: 'Таможенное оформление',
    },
    {
      href: '#',
      text: 'Сертификация',
    },
    {
      href: '#',
      text: 'Аутсорсинг ВЭД',
    },
  ]

  menu_bottom = [
    {
      text: 'Компания',
      href: '#',
    },
    {
      text: 'Отзывы',
      href: '#',
    },
    {
      text: 'Отзывы',
      href: '#',
    },
    {
      text: 'Отзывы',
      href: '#',
    },
    {
      text: 'Контакты',
      href: '#',
    },
  ]

  const menu_form_inputs = [
    {
      label: 'Ваш телефон *',
      type: 'phone',
      required: true,
      placeholder: 'Иван',
    },
    {
      label: 'Ваше имя',
      type: 'text',
      placeholder: 'Введите имя',
    },
  ]