-
  const partners = [
    'sibur',
    'xella',
    'rzhd',
    'rosatom',
    'essity',
    'okey',
    'sibur',
    'xella',
    'rzhd',
    'rosatom',
    'essity',
    'okey',
    'sibur',
    'xella',
    'rzhd',
    'rosatom',
    'essity',
    'okey',
  ]