-
  const map_countries = [
    {
      name: 'Азербайджан',
      id: '672',
    },
    {
      name: 'Армения',
      id: '719',
    },
    {
      name: 'Абхазия',
      id: '671',
    },
    {
      name: 'Белоруссия',
      id: '558',
    },
    {
      name: 'Вьетнам',
      id: '1119',
    },
    {
      name: 'Гонконг',
      id: '1056',
    },
    {
      name: 'Грузия',
      id: '621',
    },
    {
      name: 'Индия',
      id: '1005',
    },
    {
      name: 'Иран',
      id: '769',
    },
    {
      name: 'Казахстан',
      id: '676',
    },
    {
      name: 'Китай',
      id: '835',
    },
    {
      name: 'Кыргызстан',
      id: '624',
    },
    {
      name: 'ОАЭ',
      id: '957',
    },
    {
      name: 'Таджикистан',
      id: '724',
    },
    {
      name: 'Туркменистан',
      id: '721',
    },
    {
      name: 'Турция',
      id: '764',
    },
    {
      name: 'Узбекистан',
      id: '627',
    },
    {
      name: 'Латвия',
      id: '435',
    },
    {
      name: 'Литва',
      id: '497',
    },
    {
      name: 'Монголия',
      id: '689',
    },
    {
      name: 'Польша',
      id: '556',
    },
    {
      name: 'Словакия',
      id: '617',
    },
    {
      name: 'США',
      id: '708',
    },
    {
      name: 'Бельгия',
      id: '494',
    },
    {
      name: 'Великобритания',
      id: '432',
    },
    {
      name: 'Германия',
      id: '495',
    },
  ];