-
  const map_countries = [
    {
      name: 'Азербайджан',
      id: '672',
      flag: 'img/flags/AZ.svg',
    },
    {
      name: 'Армения',
      id: '719',
      flag: 'img/flags/AM.svg',
    },
    {
      name: 'Абхазия',
      id: '671',
      flag: 'img/flags/GE-AB.svg',
    },
    {
      name: 'Белоруссия',
      id: '558',
      flag: 'img/flags/BY.svg',
    },
    {
      name: 'Вьетнам',
      id: '1119',
      flag: 'img/flags/VN.svg',
    },
    {
      name: 'Гонконг',
      id: '1056',
      flag: 'img/flags/HK.svg',
    },
    {
      name: 'Грузия',
      id: '621',
      flag: 'img/flags/GE.svg',
    },
    {
      name: 'Индия',
      id: '1005',
      flag: 'img/flags/IN.svg',
    },
    {
      name: 'Иран',
      id: '769',
      flag: 'img/flags/IR.svg',
    },
    {
      name: 'Казахстан',
      id: '676',
      flag: 'img/flags/KZ.svg',
    },
    {
      name: 'Китай',
      id: '835',
      flag: 'img/flags/CN.svg',
    },
    {
      name: 'Кыргызстан',
      id: '624',
      flag: 'img/flags/KG.svg',
    },
    {
      name: 'ОАЭ',
      id: '957',
      flag: 'img/flags/AE.svg',
    },
    {
      name: 'Таджикистан',
      id: '724',
      flag: 'img/flags/TJ.svg',
    },
    {
      name: 'Туркменистан',
      id: '721',
      flag: 'img/flags/TM.svg',
    },
    {
      name: 'Турция',
      id: '764',
      flag: 'img/flags/TR.svg',
    },
    {
      name: 'Узбекистан',
      id: '627',
      flag: 'img/flags/UZ.svg',
    },
    {
      name: 'Латвия',
      id: '435',
      flag: 'img/flags/LV.svg',
    },
    {
      name: 'Литва',
      id: '497',
      flag: 'img/flags/LT.svg',
    },
    {
      name: 'Монголия',
      id: '689',
      flag: 'img/flags/MN.svg',
    },
    {
      name: 'Польша',
      id: '556',
      flag: 'img/flags/PL.svg',
    },
    {
      name: 'Словакия',
      id: '617',
      flag: 'img/flags/SK.svg',
    },
    {
      name: 'США',
      id: '708',
      flag: 'img/flags/US.svg',
    },
    {
      name: 'Бельгия',
      id: '494',
      flag: 'img/flags/BE.svg',
    },
    {
      name: 'Великобритания',
      id: '432',
      flag: 'img/flags/GB.svg',
    },
    {
      name: 'Германия',
      id: '495',
      flag: 'img/flags/DE.svg',
    },
  ];