include data.pug

.map-items
  each map_item in map_countries
    a.map-item(href='#popup-map' data-id=map_item.id data-fancybox)
      .map-item__top
        .map-item__top-actions
          .map-item__country= map_item.name
          .map-item__icon
        .map-item__flag
          img(src=map_item.flag, alt="")
        .map-item__text Инфо о блоке с разработке. можно выводить сюда статисстику по сделкам отдельной страны. Например сколько всего было сделjк, какие суммы и тд.
      .map-item__links.hidden
        .map-item__link.map-item__link--services test
        .map-item__link.map-item__link--cases test
        .map-item__link.map-item__link--import test
      .map-item__bottom
        .map-item__cases
          .map-item__bottom-title 88 888
          .map-item__bottom-text Описание примерно 2 строки
        .map-item__services
          .map-item__bottom-title 88 888
          .map-item__bottom-text Описание примерно 2 строки
        .map-item__import
          .map-item__bottom-title 88 888
          .map-item__bottom-text Описание примерно 2 строки
  .map-more.f-body <span>Все&nbsp;+&nbsp;</span> 15