-
  const numbers_items = [
    {
      title: '885 860 041',
      caption: 'Рублей',
      description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового',
      img: 'numbers/bg',
    },
    {
      title: '4176',
      caption: 'расчетов',
      description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового',
    },
    {
      title: '286',
      caption: 'внешнеторговых договоров',
      description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового',
    },
    {
      title: '53 151 602',
      caption: 'Рублей',
      description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового',
    },
    {
      title: '27',
      caption: 'Стран — сторон сделок',
      description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового',
    },
  ]