.numbers {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  .point {
    margin: 0;
    margin-bottom: to-rem(24);
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: to-rem(64);

    @media (min-width: 768px) {
      flex-direction: row;
      margin-bottom: to-rem(40);
    }
  }

  &__title {
    max-width: to-rem(640);
    color: var(--color-primary);
    margin-bottom: to-rem(24);

    @media (min-width: 1200px) {
      margin-bottom: 0;
    }
  }

  &__description {
    max-width: to-rem(358);
    opacity: 0.5;
    margin: 0 auto;
  }

  &__items {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(6, 6fr);
      gap: to-rem(16);
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: to-rem(1) solid var(--color-gray);
    padding: to-rem(8, 0, 32);

    @media (min-width: 1200px) {
      min-height: to-rem(400);
      border-top: none;
      border-radius: to-rem(24);
      background: var(--color-card-bg);
      grid-column: span 3;
    }

    &:first-child {
      border-top: to-rem(1) solid var(--color-gray);

      @media (min-width: 1200px) {
        border-top: none;
      }
    }

    @media (min-width: 1200px) {
      padding: to-rem(32);
      border-bottom: none;
    }

    &-top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: to-rem(9);

      @media (min-width: 1200px) {
        display: flex;
        margin-bottom: 0;
      }
    }

    &-top, &-bottom {
      z-index: 2;
    }

    &-title {
      font-size: to-rem(72);
      color: var(--color-primary);

      @media (max-width: 1199px) {
        display: none;
      }

      @media (min-width: 1200px) {
        font-size: to-rem(88);
        line-height: to-rem(105);
      }

      &-mobile {
        @media (max-width: 1199px) {
          display: block;
        }

        @media (min-width: 1200px) {
          display: none;
        }
      }
    }

    &-caption {
      @media (max-width: 1199px) {
        display: none;
      }

      &-mobile {
        color: var(--color-primary);

        @media (max-width: 1199px) {
          display: block;
        }

        @media (min-width: 1200px) {
          display: none;
        }
      }
    }

    &-description {
      opacity: 0.5;
    }

    &-img {
      @media (max-width: 1199px) {
        display: none;
      }
      img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
      }
    }

    &:first-child {
      @media (min-width: 1200px) {
        grid-column: span 4;
      }

      .numbers {
        &__item {
          &-top {
            gap: to-rem(16);
          }

          &-title {
            margin-bottom: to-rem(6);
          }

          &-description {
            max-width: to-rem(354);
          }

          &-caption {
            @media (min-width: 1200px) {
              margin-top: to-rem(24);
            }
          }
        }
      }
    }

    &:nth-child(2) {
      @media (min-width: 1200px) {
        grid-column: span 2;
        max-width: to-rem(433);
      }
    }

    &:last-child {
      @media (min-width: 1200px) {
        grid-column: span 6;
      }

      @media (min-width: 1400px) {
        display: none;
      }
    }

    &:not(:first-child) {
      .numbers {
        &__item {
          &-top {
            flex: 1 1 auto;
            justify-content: space-between;

            @media (min-width: 1200px) {
              flex-direction: row-reverse;
            }
          }

          &-title {
            margin-top: auto;
          }

          &-progress {
            width: 100%;
            height: to-rem(2);
            border-radius: to-rem(2);
            background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
            margin: to-rem(6, 0, 16);

            @media (max-width: 1199px) {
              display: none;
            }
          }

          &-description {
            max-width: to-rem(292);
          }
        }
      }
    }
  }

  &__map {
    position: relative;
    border-radius: to-rem(24);
    background: var(--color-card-bg);
    padding: to-rem(51, 51, 34);
    margin-top: to-rem(16);

    @media (max-width: 1399px) {
      display: none;
    }

    &-top {
      position: absolute;
      top: to-rem(13);
      left: to-rem(32);
      z-index: 1;
      display: flex;
      align-items: flex-start;
      gap: to-rem(16);
    }

    &-title {
      font-size: to-rem(88);
      line-height: 1;
      color: var(--color-primary);
    }

    &-text {
      padding-top: to-rem(14);
    }

    svg {
      path {
        transition: all 0.4s ease;
      }
    }
  }
}