-
  const ceo_block_items = [
    {
      title: 'Текст в разработке',
      text: `
        <p>Текст в разработке, BTL директивно создает конструктивный рекламоноситель. Медиамикс экономит conversion rate. Рыночная ситуация, анализируя результаты рекламной кампании, отталкивает ребрендинг, повышая конкуренцию. Рыночная информация, анализируя результаты рекламной кампании, порождена временем. Один из признанных классиков маркетинга Ф.Котлер определяет это так: стимулирование сбыта слабо транслирует анализ рыночных цен, невзирая на действия конкурентов.</p>
        <p>Позиционирование на рынке без оглядки на авторитеты специфицирует конвергентный отраслевой стандарт. Партисипативное планирование восстанавливает потребите</p>
        <p>Перераспределение бюджета, в рамках сегодняшних воззрений, конструктивно. Традиционный канал деятельно трансформирует культурный</p>
      `,
    },
    {
      img: 'team/user',
    },
    {
      title: 'Текст в разработке',
      text: `
        <p>Текст в разработке, BTL директивно создает конструктивный рекламоноситель. Медиамикс экономит conversion rate. Рыночная ситуация, анализируя результаты рекламной кампании, отталкивает ребрендинг, повышая конкуренцию. Рыночная информация, анализируя результаты рекламной кампании, порождена временем. Один из признанных классиков маркетинга Ф.Котлер определяет это так: стимулирование сбыта слабо транслирует анализ рыночных цен, невзирая на действия конкурентов.</p>
        <p>Позиционирование на рынке без оглядки на авторитеты специфицирует конвергентный отраслевой стандарт. Партисипативное планирование восстанавливает потребите</p>
        <p>Перераспределение бюджета, в рамках сегодняшних воззрений, конструктивно. Традиционный канал деятельно трансформирует культурный</p>
      `,
    },
    {
      text: `
        <p>Текст в разработке, BTL директивно создает конструктивный рекламоноситель. Медиамикс экономит conversion rate. Рыночная ситуация, анализируя результаты рекламной кампании, отталкивает ребрендинг, повышая конкуренцию. Рыночная информация, анализируя результаты рекламной кампании, порождена временем. Один из признанных классиков маркетинга Ф.Котлер определяет это так: стимулирование сбыта слабо транслирует анализ рыночных цен, невзирая на действия конкурентов.</p>
        <p>Позиционирование на рынке без оглядки на авторитеты специфицирует конвергентный отраслевой стандарт. Партисипативное планирование восстанавливает потребите</p>
        <p>Перераспределение бюджета, в рамках сегодняшних воззрений, конструктивно. Традиционный канал деятельно трансформирует культурный</p>
      `,
    },
    {
      text: `
        <p>Текст в разработке, BTL директивно создает конструктивный рекламоноситель. Медиамикс экономит conversion rate. Рыночная ситуация, анализируя результаты рекламной кампании, отталкивает ребрендинг, повышая конкуренцию. Рыночная информация, анализируя результаты рекламной кампании, порождена временем. Один из признанных классиков маркетинга Ф.Котлер определяет это так: стимулирование сбыта слабо транслирует анализ рыночных цен, невзирая на действия конкурентов.</p>
        <p>Позиционирование на рынке без оглядки на авторитеты специфицирует конвергентный отраслевой стандарт. Партисипативное планирование восстанавливает потребите</p>
        <p>Перераспределение бюджета, в рамках сегодняшних воззрений, конструктивно. Традиционный канал деятельно трансформирует культурный</p>
      `,
    },
    {
      text: `
        <p>Текст в разработке, BTL директивно создает конструктивный рекламоноситель. Медиамикс экономит conversion rate. Рыночная ситуация, анализируя результаты рекламной кампании, отталкивает ребрендинг, повышая конкуренцию. Рыночная информация, анализируя результаты рекламной кампании, порождена временем. Один из признанных классиков маркетинга Ф.Котлер определяет это так: стимулирование сбыта слабо транслирует анализ рыночных цен, невзирая на действия конкурентов.</p>
        <p>Позиционирование на рынке без оглядки на авторитеты специфицирует конвергентный отраслевой стандарт. Партисипативное планирование восстанавливает потребите</p>
        <p>Перераспределение бюджета, в рамках сегодняшних воззрений, конструктивно. Традиционный канал деятельно трансформирует культурный</p>
      `,
    },
  ]

  const ceo_block_tags = ['Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1', 'Название тега', 'тег 1']