.button {
  display: flex;
  align-items: center;
  max-width: fit-content;
  transition: all 0.4s ease-in-out;
  color: var(--color-primary);
  background: var(--color-gray);
  border-radius: to-rem(12);
  padding: to-rem(4, 4, 4, 32);

  &:hover {
    color: var(--color-gray);
    background: var(--color-primary);
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: to-rem(48);
    min-height: to-rem(48);
    background: var(--color-dark);
    border-radius: to-rem(8);
  }

  &--light {
    color: var(--color-dark);
    background: var(--color-primary);

    &:hover {
      color: var(--color-primary);
      background: var(--color-gray);
    }

    .button {
      &__icon {
        background: var(--color-dark);
      }
    }
  }

  &:hover {
    svg {
      path {
        &:first-child {
          animation: more-reverse 0.6s infinite;
        }

        &:last-child {
          animation: more 0.6s infinite;
        }
      }
    }
  }

  &__icon {
    margin-left: auto;
  }

  &__text {
    font-weight: 600;
  }

  &--more {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: to-rem(672);
    text-align: center;
    color: var(--color-primary);
    background: var(--color-dark);
    border: to-rem(1) solid var(--color-gray);
    padding: to-rem(19);
    margin: 0 auto;

    @media (min-width: 1200px) {
      padding: to-rem(27);
    }
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

@keyframes more {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@keyframes more-reverse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}
