-
  const rewards_slides = [
    {
      img: 'rewards/1',
    },
    {
      video: 'https://www.youtube.com/watch?v=lP26UCnoH9s',
      img: 'rewards/poster',
      title: 'Вручении награды «Лучший сервис Аутсорсинга 2024»',
      caption: 'Смотреть 1:45 мин',
    },
    {
      img: 'rewards/2',
    },
  ]