.rewards {
  padding-bottom: to-rem(160);

  .point {
    margin: 0;
    margin-bottom: to-rem(24);
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: to-rem(56);
  }

  &__title {
    max-width: to-rem(640);
  }

  &__description {
    max-width: to-rem(368);
    opacity: 0.5;
    margin: 0 auto;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: to-rem(8);
    border-radius: to-rem(24);
    background: var(--color-card-bg);

    &-img {
      position: relative;
      flex: 1 1 auto;
      border-radius: to-rem(16);
      overflow: hidden;

      img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: to-rem(24);
      margin-top: to-rem(8);
    }

    &-play {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: to-rem(74);
      min-height: to-rem(74);
      background: var(--color-gray);
    }

    &-title {
      width: calc(100% - 48px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: to-rem(6);
    }

    &-caption {
      opacity: 0.5;
    }

    &-video {
      max-width: to-rem(619);
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: to-rem(114);
      height: 100%;
      background: linear-gradient(90deg, rgba(30,32,32,1) 0%, rgba(30,32,32,0) 100%);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: to-rem(114);
      height: 100%;
      background: linear-gradient(270deg, rgba(30,32,32,1) 0%, rgba(30,32,32,0) 100%);
    }
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr to-rem(99);
  }
}