include data.pug
include ../.././components/button/button.pug
include ../.././components/image/image.pug
include ../.././components/breadcrumbs/breadcrumbs.pug

section.rewards.block-main
  .l-default
    +breadcrumbs({
      breadcrumbs: [
        { text: 'Главная', href: '#' },
        { text: 'Кейсы компании', href: '#' },
      ],
    })
    .rewards__top
      h1.rewards__title.f-h1 Сертификаты<br /> и награды
    .rewards__container
    .rewards__items
        each rewards_slide in rewards
          - const className = rewards_slide.title ? 'rewards__slide-video' : '';
          - const href = rewards_slide.title ? rewards_slide.video : 'img/' + rewards_slide.img + '.jpg';

          a.rewards__slide(class=className href=href data-fancybox)
            .rewards__slide-img
              +image({
                src: rewards_slide.img,
                type: 'jpg',
              })
            - if (rewards_slide.title)
              .rewards__slide-bottom
                .rewards__slide-play
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path opacity="0.4" d="M16.9611 13.7384L8.99228 18.292C7.65896 19.0539 6 18.0912 6 16.5555V7.44827C6 5.91262 7.65896 4.94989 8.99228 5.71178L16.9611 10.2654C18.3048 11.0332 18.3048 12.9706 16.9611 13.7384Z" fill="#F8F1DF"/>
                  </svg>
                .rewards__slide-info
                  .rewards__slide-title.f-h5= rewards_slide.title
                  .rewards__slide-caption.f-body-small= rewards_slide.caption

