.rewards {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  .point {
    margin: 0;
    margin-bottom: to-rem(24);
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: to-rem(40);

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: to-rem(56);
    }
  }

  &__title {
    max-width: to-rem(640);

    @media (max-width: 1199px) {
      margin-bottom: to-rem(24);
    }
  }

  &__description {
    max-width: to-rem(368);
    opacity: 0.5;
    margin: 0 auto;

    @media (max-width: 1199px) {
      margin-left: 0;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: to-rem(8);
    border-radius: to-rem(24);
    background: var(--color-card-bg);

    @media (max-width: 1199px) {
      max-width: to-rem(327);
    }

    &-img {
      position: relative;
      flex: 1 1 auto;
      border-radius: to-rem(16);
      overflow: hidden;

      img {
        display: block;
        width: auto;
        height: 100%;
        object-fit: cover;
        object-position: top;
      }
    }

    &-bottom {
      display: flex;
      align-items: center;
      gap: to-rem(16);
      margin-top: to-rem(8);

      @media (min-width: 1200px) {
        gap: to-rem(24);
      }
    }

    &-play {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: to-rem(56);
      min-height: to-rem(56);
      border-radius: to-rem(8);
      background: var(--color-gray);

      @media (min-width: 1200px) {
        min-width: to-rem(74);
        min-height: to-rem(74);
        border-radius: to-rem(16);
      }
    }

    &-title {
      width: to-rem(223);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: to-rem(2);

      @media (max-width: 1199px) {
        font-size: to-rem(16);
        line-height: to-rem(24);
      }

      @media (min-width: 1200px) {
        width: calc(100% - 48px);
        margin-bottom: to-rem(6);
      }
    }

    &-caption {
      opacity: 0.5;
    }

    &-video {
      max-width: to-rem(619);
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: to-rem(114);
      height: 100%;
      background: linear-gradient(90deg, rgba(30,32,32,1) 0%, rgba(30,32,32,0) 100%);

      @media (max-width: 1199px) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: to-rem(114);
      height: 100%;
      background: linear-gradient(270deg, rgba(30,32,32,1) 0%, rgba(30,32,32,0) 100%);

      @media (max-width: 1199px) {
        display: none;
      }
    }
  }

  &__container {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
    }
  }

  .slider-navigation {
    @media (max-width: 1199px) {
      display: none;
    }
  }

  .swiper {
    @media (max-width: 1199px) {
      overflow: visible;

      &-slide {
        height: auto;
      }
    }
  }

  &.block-main {
    padding-bottom: to-rem(160);

    .rewards {
      &__slide {
        flex: 1 1 auto;
        width: auto;

        @media (max-width: 1199px) {
          max-width: unset;
        }

        img {
          width: 100%;
          object-fit: cover;
        }

        &-video {
          width: calc(50% - 16px);
          max-width: 100%;

          @media (max-width: 1199px) {
            width: 100%;
          }
        }
      }

      &__items {
        display: flex;
        flex-wrap: wrap;
        gap: to-rem(16);
      }
    }
  }
}