-
  const rates_form_icon = `
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.52955 6.41438C6.20611 6.67313 6.15367 7.1451 6.41242 7.46855L10.0376 12L6.41242 16.5315C6.15367 16.855 6.20611 17.3269 6.52955 17.5857C6.853 17.8444 7.32497 17.792 7.58373 17.4685L11.5837 12.4685C11.8029 12.1946 11.8029 11.8054 11.5837 11.5315L7.58373 6.53151C7.32497 6.20806 6.853 6.15562 6.52955 6.41438Z" fill="#F8F1DF"/>
      <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.5296 6.41438C12.2061 6.67313 12.1537 7.1451 12.4124 7.46855L16.0376 12L12.4124 16.5315C12.1537 16.855 12.2061 17.3269 12.5296 17.5857C12.853 17.8444 13.325 17.792 13.5837 17.4685L17.5837 12.4685C17.8029 12.1946 17.8029 11.8054 17.5837 11.5315L13.5837 6.53151C13.325 6.20806 12.853 6.15562 12.5296 6.41438Z" fill="#F8F1DF"/>
    </svg>`

  const plus_icon_rates = `
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12 5.25C12.4142 5.25 12.75 5.58579 12.75 6V18C12.75 18.4142 12.4142 18.75 12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V6C11.25 5.58579 11.5858 5.25 12 5.25Z" fill="#F8F1DF"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M18.75 12C18.75 12.4142 18.4142 12.75 18 12.75L6 12.75C5.58579 12.75 5.25 12.4142 5.25 12C5.25 11.5858 5.58579 11.25 6 11.25L18 11.25C18.4142 11.25 18.75 11.5858 18.75 12Z" fill="#F8F1DF"/>
    </svg>`

  const rates_inputs = [
    {
      label: 'Ваше имя',
      type: 'text',
      required: true,
      placeholder: 'Иван',
    },
    {
      label: 'Ваша почта',
      type: 'email',
      required: true,
      placeholder: 'Info@impostrade.ru',
    },
  ]