.slider-navigation {
  position: relative;

  &-arrow {
    transition: all 0.4s ease-in-out;
    background: var(--color-gray);
    border: to-rem(1) solid var(--color-gray);
    cursor: pointer;

    &:hover {
      background: var(--color-card-bg);
    }
  }

  &--default {
    display: flex;
    gap: to-rem(4);
    padding: to-rem(4);
    border-radius: to-rem(16);
    background: var(--color-card-bg);


    @media (min-width: 768px) {
      border-radius: to-rem(20);
      padding: to-rem(8);
    }

    .slider-navigation {
      &-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        min-height: to-rem(48);

        @media (min-width: 768px) {
          min-height: to-rem(56);
        }

        &:first-child {
          border-radius: to-rem(4);
          border-top-left-radius: to-rem(12);
          border-bottom-left-radius: to-rem(12);

          @media (min-width: 768px) {
            border-radius: to-rem(8);
          }

          svg {
            transform: rotate(180deg);
          }
        }

        &:last-child {
          border-radius: to-rem(4);
          border-top-right-radius: to-rem(12);
          border-bottom-right-radius: to-rem(12);

          @media (min-width: 768px) {
            border-radius: to-rem(8);
          }
        }
      }
    }
  }

  &--custom {
    display: flex;
    flex-direction: column;
    gap: to-rem(4);
    width: 100%;
    min-height: 100%;

    .slider-navigation {
      &-arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;
        cursor: pointer;

        &:first-child {
          border-radius: to-rem(24, 8, 8);
        }

        &:last-child {
          border-radius: to-rem(8, 8, 8, 24);

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &--vertical {
    display: flex;
    flex-direction: column;
    gap: to-rem(5);
    padding: to-rem(8);
    background: var(--color-card-bg);
    border-radius: to-rem(32);

    .slider-navigation {
      &-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 auto;

        &:first-child {
          border-radius: to-rem(24, 24, 8, 8);
        }

        &:last-child {
          border-radius: to-rem(8, 8, 24, 24);

          svg {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  &-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-card-bg);
    border-radius: to-rem(8);
    padding: to-rem(8, 16);
  }
}