-
  const page_error_icon = `
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.52955 6.41438C6.20611 6.67313 6.15367 7.1451 6.41242 7.46855L10.0376 12L6.41242 16.5315C6.15367 16.855 6.20611 17.3269 6.52955 17.5857C6.853 17.8444 7.32497 17.792 7.58373 17.4685L11.5837 12.4685C11.8029 12.1946 11.8029 11.8054 11.5837 11.5315L7.58373 6.53151C7.32497 6.20806 6.853 6.15562 6.52955 6.41438Z" fill="#F8F1DF"/>
      <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12.5296 6.41438C12.2061 6.67313 12.1537 7.1451 12.4124 7.46855L16.0376 12L12.4124 16.5315C12.1537 16.855 12.2061 17.3269 12.5296 17.5857C12.853 17.8444 13.325 17.792 13.5837 17.4685L17.5837 12.4685C17.8029 12.1946 17.8029 11.8054 17.5837 11.5315L13.5837 6.53151C13.325 6.20806 12.853 6.15562 12.5296 6.41438Z" fill="#F8F1DF"/>
    </svg>
  `