extends ../layouts/default

block variables
  - const title = "Page Not Found | ImposTrade";
  - const styles_url = "styles/error-page.css";

block content
  include ../../blocks/modules/header/header
  main.main
    include ../../blocks/modules/404/404
  include ../../blocks/modules/footer/footer.pug
  include ../../blocks/modules/popup/popup.pug

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")