extends ../layouts/default

block variables
  - const title = "Service | ImposTrade";
  - const styles_url = "styles/service.css";

block content
  include ../../blocks/modules/header/header
  main.main
    include ../../blocks/modules/main-top/main-top-page
    include ../../blocks/modules/geography-service/geography-service
    include ../../blocks/modules/questions/questions
    include ../../blocks/modules/horizontal-form/horizontal-form-service
    include ../../blocks/modules/rates/rates
    include ../../blocks/modules/ceo-block/ceo-block
    include ../../blocks/modules/services/services-page
    include ../../blocks/modules/advantages/advantages-page
    include ../../blocks/modules/scheme/scheme-page
    include ../../blocks/modules/delivery/delivery
  include ../../blocks/modules/footer/footer
  include ../../blocks/modules/popup/popup.pug
  include ../../blocks/modules/popup/popup-map.pug

block scripts
  script(src="js/vendor.js")
  script(src="js/main.js")
  script(src="js/service.js")