include ../.././components/point/point.pug

section.answers
  .l-default
    +point({
      number: '02',
      text: 'Ответы на вопросы',
    })
    .answers__top
      h2.answers__title.f-h2 Заголовк блока с логотипами в разработке
      .answers__description.f-body Текст описания блока в разработке, примерный объем текста может варьировтаься от 2-3 строк до 4-5.. Все ситуалисвно
    .answers__map
      include ../.././components/map/map.pug
