.answers {
  padding-bottom: to-rem(160);

  .point {
    margin: 0;
    margin-bottom: to-rem(24);
  }

  &__top {
    display: flex;
    margin-bottom: to-rem(64);
  }

  &__title {
    max-width: to-rem(640);
  }

  &__description {
    max-width: to-rem(358);
    opacity: 0.5;
    margin: 0 auto;
  }

  &__map {
    border-radius: to-rem(24);
    background: var(--color-card-bg);
    padding: to-rem(51, 51, 34);
    margin-top: to-rem(16);
  }
}