-
  const scheme_tabs = [
    {
      value: 'import',
      text: 'импорт',
      slides: [
        {
          img: 'scheme/1',
          type: 'jpg',
          step: 'Шаг 01',
          title: 'Заголовок шага 1',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/2',
          type: 'jpg',
          step: 'Шаг 02',
          title: 'Заголовок шага 2',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/3',
          type: 'jpg',
          step: 'Шаг 03',
          title: 'Заголовок шага 3',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/4',
          type: 'jpg',
          step: 'Шаг 04',
          title: 'Заголовок шага 4',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/5',
          type: 'jpg',
          step: 'Шаг 05',
          title: 'Заголовок шага 5',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/6',
          type: 'jpg',
          step: 'Шаг 06',
          title: 'Заголовок шага 6',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/7',
          type: 'jpg',
          step: 'Шаг 07',
          title: 'Заголовок шага 7',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/8',
          type: 'jpg',
          step: 'Шаг 08',
          title: 'Заголовок шага 8',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/9',
          type: 'jpg',
          step: 'Шаг 09',
          title: 'Заголовок шага 9',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/10',
          type: 'jpg',
          step: 'Шаг 10',
          title: 'Заголовок шага 10',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/11',
          type: 'jpg',
          step: 'Шаг 11',
          title: 'Заголовок шага 11',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/12',
          type: 'jpg',
          step: 'Шаг 12',
          title: 'Заголовок шага 12',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
      ]
    },
    {
      value: 'export',
      text: 'экспорт',
      slides: [
        {
          img: 'scheme/1',
          type: 'jpg',
          step: 'Шаг 01',
          title: 'Заголовок шага 1',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/2',
          type: 'jpg',
          step: 'Шаг 02',
          title: 'Заголовок шага 2',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/3',
          type: 'jpg',
          step: 'Шаг 03',
          title: 'Заголовок шага 3',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/4',
          type: 'jpg',
          step: 'Шаг 04',
          title: 'Заголовок шага 4',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/5',
          type: 'jpg',
          step: 'Шаг 05',
          title: 'Заголовок шага 5',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/6',
          type: 'jpg',
          step: 'Шаг 06',
          title: 'Заголовок шага 6',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/7',
          type: 'jpg',
          step: 'Шаг 07',
          title: 'Заголовок шага 7',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/8',
          type: 'jpg',
          step: 'Шаг 08',
          title: 'Заголовок шага 8',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/9',
          type: 'jpg',
          step: 'Шаг 09',
          title: 'Заголовок шага 9',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/10-1',
          type: 'jpg',
          step: 'Шаг 10',
          title: 'Заголовок шага 10',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/11',
          type: 'jpg',
          step: 'Шаг 11',
          title: 'Заголовок шага 11',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/12',
          type: 'jpg',
          step: 'Шаг 12',
          title: 'Заголовок шага 12',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
      ]
    },
  ]

  const scheme_tabs_service = [
    {
      value: 'import',
      text: 'импорт',
      slides: [
        {
          img: 'scheme/1',
          type: 'jpg',
          step: 'Шаг 01',
          title: 'Заголовок шага 1',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/2',
          type: 'jpg',
          step: 'Шаг 02',
          title: 'Заголовок шага 2',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/3',
          type: 'jpg',
          step: 'Шаг 03',
          title: 'Заголовок шага 3',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/4',
          type: 'jpg',
          step: 'Шаг 04',
          title: 'Заголовок шага 4',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/5',
          type: 'jpg',
          step: 'Шаг 05',
          title: 'Заголовок шага 5',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/6',
          type: 'jpg',
          step: 'Шаг 06',
          title: 'Заголовок шага 6',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/7',
          type: 'jpg',
          step: 'Шаг 07',
          title: 'Заголовок шага 7',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/8',
          type: 'jpg',
          step: 'Шаг 08',
          title: 'Заголовок шага 8',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/9',
          type: 'jpg',
          step: 'Шаг 09',
          title: 'Заголовок шага 9',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/10',
          type: 'jpg',
          step: 'Шаг 10',
          title: 'Заголовок шага 10',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/11',
          type: 'jpg',
          step: 'Шаг 11',
          title: 'Заголовок шага 11',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
        {
          img: 'scheme/12',
          type: 'jpg',
          step: 'Шаг 12',
          title: 'Заголовок шага 12',
          text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
        },
      ]
    },
  ]