-
  const scheme_tabs = [
    {
      value: 'import',
      text: 'импорт',
    },
    {
      value: 'export',
      text: 'экспорт',
    },
  ]

  const scheme_slides = [
    {
      img: 'scheme/1',
      type: 'jpg',
      step: 'Шаг 01',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
  ]