-
  const scheme_tabs = [
    {
      value: 'import',
      text: 'импорт',
    },
    {
      value: 'export',
      text: 'экспорт',
    },
  ]

  const scheme_slides = [
    {
      img: 'scheme/1',
      type: 'jpg',
      step: 'Шаг 01',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/2',
      type: 'jpg',
      step: 'Шаг 02',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/3',
      type: 'jpg',
      step: 'Шаг 03',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/4',
      type: 'jpg',
      step: 'Шаг 04',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/5',
      type: 'jpg',
      step: 'Шаг 05',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/6',
      type: 'jpg',
      step: 'Шаг 06',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/7',
      type: 'jpg',
      step: 'Шаг 07',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/8',
      type: 'jpg',
      step: 'Шаг 08',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/9',
      type: 'jpg',
      step: 'Шаг 09',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/10',
      type: 'jpg',
      step: 'Шаг 10',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/11',
      type: 'jpg',
      step: 'Шаг 11',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
    {
      img: 'scheme/12',
      type: 'jpg',
      step: 'Шаг 12',
      title: 'Заголовок шага',
      text: 'Мы моделируем поставку, проводим предварительные расчёты проекта с учётом особенностей продукции и требований, предъявляемых со стороны таможенных органов',
    },
  ]