include data.pug
include ../.././components/point/point.pug
include ../.././components/steps/steps.pug
include ../.././components/tabs/tabs.pug
include ../.././components/image/image.pug
include ../.././components/slider-navigation/slider-navigation.pug

section.scheme
  .l-default
    +point({
      number: '03',
      text: 'схема работы',
    })
    h2.scheme__title.f-h2.f-centered Заголовк блока про услуги<br /> в разработке
    +tabs(scheme_tabs)
    each scheme_tab in scheme_tabs
      .tabs__content(data-tab=scheme_tab.value)
        +steps
        .scheme__slider-steps
          .scheme__slider-step
            .scheme__slider-step--current.f-caps-small
            .scheme__slider-step--all.f-caps-small
            .scheme__slider-progress
                <svg width="100%" height="100%" viewBox="0 0 100 100">
                    <circle r="44" cx="50" cy="50" fill="transparent" stroke="#474949" stroke-width="4px"></circle>
                    <circle class="progress-bar" r="44" cx="50" cy="50" fill="transparent" stroke="#F8F1DF" stroke-width="4px" ></circle>
                </svg>
          .scheme__slider-title.f-h4
        .scheme__slider-wrapper
          .swiper.scheme__slider
            .swiper-wrapper
              each scheme_slide in scheme_slides
                .swiper-slide.scheme__slide
                  .scheme__slide-img
                    +image({
                      src: scheme_slide.img,
                      type: scheme_slide.type,
                    })
          .scheme__slide-info
            .swiper.scheme__slider-info
              .swiper-wrapper
                each scheme_slide in scheme_slides
                  .swiper-slide.scheme__slide
                    .scheme__slide-step.f-caps-small.fade-bottom= scheme_slide.step
                    .scheme__slide-title.f-h4.fade-bottom= scheme_slide.title
                    .scheme__slide-text.f-body.fade-bottom= scheme_slide.text
              +slider-navigation({
                type: 'default',
              })

