.scheme {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  &__title {
    margin-bottom: to-rem(40);

    @media (min-width: 1200px) {
      margin-bottom: to-rem(24);
    }
  }

  &__slider {
    &-wrapper {
      display: grid;
      gap: to-rem(16);

      @media (min-width: 1200px) {
        grid-template-columns: 1fr to-rem(417);
        gap: to-rem(39);
      }
    }

    &-info {
      @media (max-width: 1199px) {
        .swiper-wrapper {
          height: auto;
        }
      }

      .slider-navigation {
        @media (max-width: 1199px) {
          margin-top: to-rem(40);
        }
      }
    }
  }

  &__slide {
    &-img {
      position: relative;
      width: 100%;
      min-height: to-rem(171);
      border-radius: to-rem(16);
      overflow: hidden;

      @media (min-width: 768px) {
        min-height: to-rem(411);
        border-radius: to-rem(32);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @media (min-width: 1200px) {
        padding: to-rem(40, 0, 32);
      }

      .swiper {
        overflow: visible;
      }
    }

    &-step {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        margin-bottom: to-rem(16);
      }
    }

    &-title {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        margin-bottom: to-rem(32);
      }
    }

    .slider-navigation {
      margin-top: auto;
    }
  }

  .swiper {
    width: 100%;
  }

  .steps {
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }
}