.scheme {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  &__title {
    color: var(--color-primary);
    margin-bottom: to-rem(40);

    @media (min-width: 1300px) {
      margin-bottom: to-rem(24);
    }
  }

  &__slider {
    &-wrapper {
      display: grid;
      gap: to-rem(16);

      @media (min-width: 1300px) {
        grid-template-columns: to-rem(787) to-rem(417);
        gap: to-rem(39);
      }
    }

    &-info {
      @media (max-width: 1199px) {
        .swiper-wrapper {
          height: auto;
        }
      }

      .slider-navigation {
        @media (min-width: 1200px) {
          max-width: to-rem(360);
        }

        @media (max-width: 1199px) {
          margin-top: to-rem(40);
        }
      }
    }

    &-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 88px;
      height: 88px;

      svg {
        transform: rotate(-90deg);
      }

      circle {
        stroke-dasharray: var(--color-gray);
        transition: all .8s ease-in-out;
      }

      .progress-bar {
        stroke: var(--color-primary);
        stroke-dasharray: 276.32px;
        stroke-dashoffset: 276.32px;
      }
    }

    &-steps {
      display: flex;
      align-items: center;
      gap: to-rem(24);
      margin-bottom: to-rem(24);

      @media (min-width: 1440px) {
        display: none;
      }
    }

    &-step {
      position: relative;
      min-width: to-rem(88);
      min-height: to-rem(88);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: unset;
      max-width: fit-content;
      text-align: center;
      white-space: nowrap;
      transition: all .8s ease-in-out;
      padding: to-rem(0, 18);

      @media (min-width: 1440px) {
        display: none;
      }

      &--current {
        display: block;
      }
    }
  }

  &__slide {
    &-img {
      position: relative;
      width: 100%;
      min-height: to-rem(171);
      border-radius: to-rem(16);
      overflow: hidden;

      @media (min-width: 768px) {
        min-height: to-rem(411);
        border-radius: to-rem(32);
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @media (min-width: 1200px) {
        padding: to-rem(40, 0, 32);
      }

      .swiper {
        overflow: visible;
      }
    }

    &-step {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        margin-bottom: to-rem(16);
      }
    }

    &-title {
      display: none;

      @media (min-width: 1200px) {
        display: block;
        margin-bottom: to-rem(32);
      }
    }

    .slider-navigation {
      margin-top: auto;
    }
  }

  .swiper {
    width: 100%;
  }

  .steps {
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }
  }
}