.contacts {
  &__wrapper {
    display: flex;
    align-items: center;

    @media (min-width: 1200px) {
      background: var(--color-card-bg);
      border-radius: to-rem(12);
      padding: to-rem(4);
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: to-rem(48);
    min-height: to-rem(48);
    background: var(--color-gray);
    border-radius: to-rem(8);

    @media (min-width: 1200px) {
      min-width: to-rem(40);
      min-height: to-rem(40);
    }

    &-mail {
      @media (max-width: 1199px) {
        display: none;
      }
      svg {
        transition: all 0.4s ease;
      }

      &:hover {
        background: var(--color-primary);

        svg {
          path {
            fill: var(--color-gray);
          }
        }
      }
    }
  }

  &__items, &__links {
    display: flex;
    align-items: center;
  }

  &__items {
    gap: to-rem(10);
    margin-left: to-rem(16);
    margin-right: to-rem(20);

    @media (max-width: 1199px) {
      display: none;
    }
  }

  &__links {
    gap: to-rem(4);
  }

  &__phone {
    font-weight: 400;

    &:hover {
      opacity: 0.5;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: to-rem(24);
    min-height: to-rem(24);
    background: var(--color-primary);
    border-radius: 100%;
    transition: all 0.4s ease;

    svg {
      transition: all 0.4s ease;
    }

    &:hover {
      background: var(--color-gray);

      svg {
        path {
          fill: var(--color-primary);
        }
      }
    }
  }

  &__mobile {
    display: none;
  }

  &.open {
    @media (min-width: 1200px) {
      display: none;
    }
  }
}