-
  const reviews_tabs = [
    {
      value: 'messengers',
      text: 'Мессенджеры',
    },
    {
      value: 'letters',
      text: 'Благодарственные письма',
    },
  ]

  const reviews_messengers = [
    {
      img: 'reviews/messengers/1',
      type: 'png',
      title: 'ООО Нафтагаз',
      description: 'Текст отзыва дублируется в тексте на сайте. Краткое описание услуги, объем текста примерно от двух до трех строк описания текста о данной услуге компании, Текст в разработке. Краткое описание услуги.',
      tags: ['Импорт', 'Доставка из китая', 'Сертификация'],
    },
    {
      img: 'reviews/messengers/1',
      type: 'png',
      title: 'ИП Киселёв А.М.',
      description: 'Текст отзыва дублируется в тексте на сайте. Краткое описание услуги, объем текста примерно от двух до трех строк описания текста о данной услуге компании, Текст в разработке. Краткое описание услуги.',
      tags: ['Импорт', 'Доставка из китая'],
    },
    {
      img: 'reviews/messengers/1',
      type: 'png',
      title: 'ИП Киселёв А.М.',
      description: 'Текст отзыва дублируется в тексте на сайте. Краткое описание услуги, объем текста примерно от двух до трех строк описания текста о данной услуге компании, Текст в разработке. Краткое описание услуги.',
      tags: ['Импорт', 'Доставка из китая'],
    },
    {
      img: 'reviews/messengers/1',
      type: 'png',
      title: 'ИП Киселёв А.М.',
      description: 'Текст отзыва дублируется в тексте на сайте. Краткое описание услуги, объем текста примерно от двух до трех строк описания текста о данной услуге компании, Текст в разработке. Краткое описание услуги.',
      tags: ['Импорт', 'Доставка из китая'],
    },
  ]