.reviews-messengers
  .reviews-messengers__slider.swiper
    .swiper-wrapper
      each review_messengers in reviews_messengers
        .reviews-messengers__slide.swiper-slide
          a.reviews-messengers__slide-img(href='img/' + review_messengers.img + '.' + review_messengers.type data-fancybox)
            +image({
              src: review_messengers.img,
              type: review_messengers.type,
            })
          .reviews-messengers__slide-info
            .reviews-messengers__slide-top
              .reviews-messengers__slide-title.f-h4.fade-bottom= review_messengers.title
              .reviews-messengers__slide-step.f-caps-small
                span.reviews-messengers__slide-step--current.fade-bottom 01
                span.fade-bottom —
                span.reviews-messengers__slide-step--length.fade-bottom 12
            .reviews-messengers__slide-description.f-body.fade-bottom= review_messengers.description
            .reviews-messengers__slide-bottom
              .reviews-messengers__slide-caption.f-caps-small.fade-bottom Услуги
              .reviews-messengers__slide-progress
              .reviews-messengers__slide-tags
                each reviews_tag in review_messengers.tags
                  .reviews-messengers__slide-tag.f-caps-small.fade-bottom= reviews_tag
  +slider-navigation({
    type: 'vertical',
  })