.reviews {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  &__title {
    color: var(--color-primary);
    margin-bottom: to-rem(40);

    @media (min-width: 1200px) {
      margin-bottom: to-rem(56);
    }
  }

  &-messengers {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    &__popup {
      display: none;
      max-width: to-rem(375);
      padding: to-rem(16, 24, 40);
      color: var(--color-white);
      background: var(--color-card-bg);
      border-radius: to-rem(20);

      &-title {
        margin-bottom: to-rem(24);
      }

      &-description {
        opacity: 0.5;
        margin-bottom: to-rem(32);
      }

      &-tags {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: to-rem(4);
        margin-bottom: to-rem(24);
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
      }

      &-img {
        margin-bottom: to-rem(32);

        img {
          margin: 0 auto;
        }
      }

      .button {
        width: 100%;
        max-width: 100%;
      }
    }

    &__slide {
      display: grid;
      height: auto;
      min-height: to-rem(400);
      border-radius: to-rem(24);
      background: var(--color-card-bg);
      padding: to-rem(24);

      @media (max-width: 1199px) {
        max-width: to-rem(327);
      }

      @media (min-width: 1200px) {
        grid-template-columns: to-rem(180) 1fr;
        gap: to-rem(8);
        border-radius: to-rem(40);
        padding: 0;
        min-height: to-rem(437);
      }

      @media (min-width: 1300px) {
        grid-template-columns: to-rem(222) 1fr;
        gap: to-rem(24);
      }

      &-img {
        display: none;

        @media (min-width: 1200px) {
          display: block;
        }
      }

      &-link {
        margin: to-rem(48, 0, 32);

        @media (min-width: 1200px) {
          display: none;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
          padding: to-rem(32);
          padding-left: 0;
        }
      }

      &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      &-title {
        margin-bottom: to-rem(16);
      }

      &-steps, &-description, &-caption {
        opacity: 0.5;
      }

      &-bottom {
        margin-top: auto;
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
        transition: width 2s ease;

        @media (min-width: 1200px) {
          width: 0;
        }
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: to-rem(80);
        gap: to-rem(4);
      }

      &-tag {
        color: var(--color-primary);
        background: rgba(#F8F1DF, 0.05);
        border: to-rem(1) solid rgba(#fff, 0.1);
        border-radius: to-rem(8);
        padding: to-rem(11, 20);
      }
    }
  }

  &-letters {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    &__popup {
      display: none;
      max-width: to-rem(375);
      padding: to-rem(16, 24, 40);
      color: var(--color-white);
      background: var(--color-card-bg);
      border-radius: to-rem(20);

      &-title {
        margin-bottom: to-rem(24);
      }

      &-description {
        opacity: 0.5;
        margin-bottom: to-rem(32);
      }

      &-tags {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: to-rem(4);
        margin-bottom: to-rem(24);
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
      }

      &-img {
        margin-bottom: to-rem(32);

        img {
          margin: 0 auto;
        }
      }

      .button {
        width: 100%;
        max-width: 100%;
      }
    }

    &__slide {
      height: auto;
      min-height: to-rem(400);
      background: var(--color-card-bg);
      border-radius: to-rem(24);
      padding: to-rem(24);

      @media (max-width: 1199px) {
        max-width: to-rem(327);
      }

      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: to-rem(180) 1fr;
        gap: to-rem(16);
        min-height: to-rem(437);
        padding: to-rem(8);
        padding-right: to-rem(32);
      }

      @media (min-width: 1300px) {
        grid-template-columns: to-rem(205) 1fr;
        gap: to-rem(32);
      }

      &-link {
        margin: to-rem(48, 0, 32);

        @media (min-width: 1200px) {
          display: none;
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        gap: to-rem(8);
      }

      &-logo {
        display: none;

        @media (min-width: 1200px) {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--color-gray);
          border-radius: to-rem(16, 16, 8, 8);
          min-height: to-rem(124);
        }
      }

      &-img {
        display: none;

        @media (min-width: 1200px) {
          display: block;
          flex: 1 1 auto;
          position: relative;
          min-height: to-rem(209);
          border-radius: to-rem(8, 8, 16, 16);
          overflow: hidden;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
          padding: to-rem(24);
          padding-right: 0;
          padding-left: 0;
        }
      }

      &-title {
        margin-bottom: to-rem(16);
      }

      &-steps, &-description, &-caption {
        opacity: 0.5;
      }

      &-bottom {
        margin-top: auto;
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
        transition: width 2s ease;

        @media (min-width: 1200px) {
          width: 0;
        }
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: to-rem(80);
        gap: to-rem(4);
      }

      &-tag {
        color: var(--color-primary);
        background: rgba(#F8F1DF, 0.05);
        border: to-rem(1) solid rgba(#fff, 0.1);
        border-radius: to-rem(8);
        padding: to-rem(11, 20);
      }
    }
  }

  &-videos {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    &__slide {
      display: flex;
      flex-direction: column;
      padding: to-rem(8);
      border-radius: to-rem(24);
      background: var(--color-card-bg);

      @media (max-width: 1199px) {
        max-width: to-rem(327);
      }

      &-img {
        position: relative;
        flex: 1 1 auto;
        min-height: to-rem(339);
        border-radius: to-rem(16);
        overflow: hidden;

        @media (max-width: 1199px) {
          min-height: to-rem(320);
        }

        img {
          position: absolute;
          top: 0;
          width: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-bottom {
        display: flex;
        align-items: center;
        gap: to-rem(16);
        margin-top: to-rem(8);

        @media (min-width: 1200px) {
          gap: to-rem(24);
        }
      }

      &-play {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: to-rem(56);
        min-height: to-rem(56);
        border-radius: to-rem(8);
        background: var(--color-gray);

        @media (min-width: 1200px) {
          min-width: to-rem(74);
          min-height: to-rem(74);
          border-radius: to-rem(16);
        }
      }

      &-title {
        width: to-rem(223);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: to-rem(2);

        @media (max-width: 1199px) {
          font-size: to-rem(16);
          line-height: to-rem(24);
        }

        @media (min-width: 1200px) {
          width: calc(100% - 48px);
          margin-bottom: to-rem(6);
        }
      }

      &-time {
        opacity: 0.5;
      }

      &-video {
        max-width: to-rem(619);
      }
    }
  }

  &-audio {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    .swiper-wrapper {
      flex-wrap: wrap !important;
      flex-direction: column !important;
      height: to-rem(437) !important;
      min-height: to-rem(437) !important;
      gap: to-rem(8);

      @media (min-width: 1200px) {
        transition: none !important;
      }
    }

    &__slide {
      display: flex;
      flex-direction: column;
      background: var(--color-card-bg);
      border-radius: to-rem(24);
      height: calc((100% - 8px) / 2) !important;
      margin: 0 !important;

      &-top {
        display: flex;
        align-items: center;
        gap: to-rem(16);
        padding: to-rem(8);
        padding-right: to-rem(24);
        border-bottom: to-rem(1) solid var(--color-gray);
      }

      &-play, &-pause {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: to-rem(64);
        min-height: to-rem(64);
        background: var(--color-gray);
        border-radius: to-rem(16);
      }

      &-timer {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        opacity: 0.5;
      }

      &-bottom {
        display: flex;
        align-items: center;
        flex: 1 1 auto;
        gap: to-rem(24);
        padding: to-rem(8);
      }

      &-title {
        max-width: to-rem(221);
        margin: auto;

        @media (min-width: 1200px) {
          max-width: to-rem(342);
          margin: 0;
        }
      }

      &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: to-rem(205);
        min-height: to-rem(117);
        background: var(--color-gray);
        border-radius: to-rem(16);

        @media (max-width: 1199px) {
          display: none;
        }
      }

      &-content {
        width: 100%;
      }
    }
  }

  &-letters, &-messengers, &-videos, &-audio {
    .swiper {
      overflow: visible;

      @media (min-width: 1200px) {
        overflow: hidden;
      }
    }

    .swiper-slide {
      @media (min-width: 1200px) {
        // opacity: 0;
      }

      &-visible {
        @media (min-width: 1200px) {
          opacity: 1;
          animation: show 0.4s ease-in-out;
        }
      }

      &.swiper-slide-visible {
        .reviews-messengers, .reviews-letters {
          &__slide {
            &-progress {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .slider-navigation {
    z-index: 1;
  }

  .button--more {
    margin-top: to-rem(48);
  }

  &__tabs {
    width: 100%;
    overflow: visible;

    .tabs {
      width: 100%;
      max-width: fit-content;
    }

    .tab {
      width: 100%;
      white-space: nowrap;
      padding: to-rem(19, 32);
    }

    .swiper-slide {
      width: auto;
    }

    .swiper-wrapper {
      @media (min-width: 1200px) {
        justify-content: center;
      }
    }
  }

  &.block-main {
    padding-bottom: to-rem(160);

    .reviews-messengers, .reviews-letters {
      grid-template-columns: 1fr;
    }

    .reviews-messengers__slider, .reviews-letters__slider {
      display: flex;
      flex-direction: column;
      gap: to-rem(16);

      @media (min-width: 992px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .reviews-letters__slide-bottom, .reviews-messengers__slide-bottom {
      @media (max-width: 1199px) {
        margin-top: to-rem(16);
      }
    }

    .reviews-messengers__slide, .reviews-letters__slide {
      max-width: unset;

      @media (max-width: 1199px) {
        min-height: to-rem(400);
      }
    }

    .reviews-videos__slide {
      max-width: unset;
    }

    .reviews-audio__slide {
      @media (max-width: 767px) {
        padding-bottom: to-rem(43);
      }
    }

    .reviews-audio {
      display: flex;
    }

    .reviews-audio__slider, .reviews-videos__slider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: to-rem(16);

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: to-rem(8);
      }
    }

    .reviews-audio__slide {
      height: auto !important;
    }
  }
}