include data.pug
include ../.././components/point/point.pug
include ../.././components/image/image.pug
include ../.././components/button/button.pug
include ../.././components/tabs/tabs.pug
include ../.././components/slider-navigation/slider-navigation.pug

section.reviews
  .l-default
    +point({
      number: '07',
      text: 'отзывы',
    })
    h2.reviews__title.f-h2.f-centered Заголовк блока про услуги<br /> в разработке
    +tabs(reviews_tabs)
    .tabs__content.tabs__content-messengers(data-tab=reviews_tabs[0].value)
      include reviews-messengers.pug
    .tabs__content.tabs__content-letters.hidden(data-tab=reviews_tabs[1].value)
      include reviews-letters.pug
    +button({
      theme: 'button--more',
      text: 'Смотреть все отзывы компании ( 54 )',
      href: '#',
    })
