.reviews-messengers
  .reviews-messengers__slider.swiper
    .swiper-wrapper
      each review_messengers in reviews_messengers
        .reviews-messengers__slide.swiper-slide
          a.reviews-messengers__slide-img(href='img/' + review_messengers.img + '.' + review_messengers.type data-fancybox)
            +image({
              src: review_messengers.img,
              type: review_messengers.type,
            })
          .reviews-messengers__slide-info
            .reviews-messengers__slide-top
              .reviews-messengers__slide-title.f-h4.fade-bottom= review_messengers.title
              .reviews-messengers__slide-step.f-caps-small
                span.reviews-messengers__slide-step--current.fade-bottom-0-5 01
                span.fade-bottom-0-5 —
                span.reviews-messengers__slide-step--length.fade-bottom-0-5 12
            .reviews-messengers__slide-description.f-body.fade-bottom-0-5= review_messengers.description
            .reviews-messengers__slide-link.f-caps-small Подробнее
            .reviews-messengers__slide-bottom
              .reviews-messengers__slide-caption.f-caps-small.fade-bottom-0-5 Услуги
              .reviews-messengers__slide-progress
              .reviews-messengers__slide-tags
                each reviews_tag in review_messengers.tags
                  .reviews-messengers__slide-tag.f-caps-small.fade-bottom= reviews_tag
  +slider-navigation({
    type: 'vertical',
  })

  #reviews-messengers-popup.reviews-messengers__popup
    .reviews-messengers__popup-info
      .reviews-messengers__popup-top
        .reviews-messengers__popup-title.f-h4
      .reviews-messengers__popup-description.f-body
      .reviews-messengers__popup-bottom
        .reviews-messengers__popup-caption.f-caps-small Услуги
        .reviews-messengers__popup-progress
        .reviews-messengers__popup-tags
    .reviews-messengers__popup-img
      img(src="", alt="")
    +button({
        text: 'Закрыть',
        icon: plus_icon,
        class: 'btn--close',
        close: true,
      })