.reviews {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  &__title {
    margin-bottom: to-rem(40);

    @media (min-width: 1200px) {
      margin-bottom: to-rem(56);
    }
  }

  &-messengers {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    &__popup {
      display: none;
      max-width: to-rem(375);
      padding: to-rem(16, 24, 40);
      color: var(--color-white);
      background: var(--color-card-bg);
      border-radius: to-rem(20);

      &-title {
        margin-bottom: to-rem(24);
      }

      &-description {
        opacity: 0.5;
        margin-bottom: to-rem(32);
      }

      &-tags {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: to-rem(4);
        margin-bottom: to-rem(24);
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
      }

      &-img {
        margin-bottom: to-rem(32);

        img {
          margin: 0 auto;
        }
      }

      .button {
        width: 100%;
        max-width: 100%;
      }
    }

    &__slide {
      display: grid;
      height: auto;
      min-height: to-rem(400);
      border-radius: to-rem(24);
      background: var(--color-card-bg);
      padding: to-rem(24);

      @media (max-width: 1199px) {
        max-width: to-rem(327);
      }

      @media (min-width: 1200px) {
        grid-template-columns: to-rem(180) 1fr;
        gap: to-rem(8);
        border-radius: to-rem(40);
        padding: 0;
        min-height: to-rem(437);
      }

      @media (min-width: 1300px) {
        grid-template-columns: to-rem(222) 1fr;
        gap: to-rem(24);
      }

      &-img {
        display: none;

        @media (min-width: 1200px) {
          display: block;
        }
      }

      &-link {
        margin: to-rem(48, 0, 32);

        @media (min-width: 1200px) {
          display: none;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
          padding: to-rem(32);
          padding-left: 0;
        }
      }

      &-top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      &-title {
        margin-bottom: to-rem(16);
      }

      &-steps, &-description, &-caption {
        opacity: 0.5;
      }

      &-bottom {
        margin-top: auto;
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
        transition: width 2s ease;

        @media (min-width: 1200px) {
          width: 0;
        }
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: to-rem(80);
        gap: to-rem(4);
      }

      &-tag {
        color: var(--color-primary);
        background: rgba(#F8F1DF, 0.05);
        border: to-rem(1) solid rgba(#fff, 0.1);
        border-radius: to-rem(8);
        padding: to-rem(11, 20);
      }
    }
  }

  &-letters {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr to-rem(99);
      gap: to-rem(15);
    }

    &__slider {
      width: 100%;

      @media (max-width: 1199px) {
        margin-bottom: to-rem(32);
      }
    }

    &__popup {
      display: none;
      max-width: to-rem(375);
      padding: to-rem(16, 24, 40);
      color: var(--color-white);
      background: var(--color-card-bg);
      border-radius: to-rem(20);

      &-title {
        margin-bottom: to-rem(24);
      }

      &-description {
        opacity: 0.5;
        margin-bottom: to-rem(32);
      }

      &-tags {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        gap: to-rem(4);
        margin-bottom: to-rem(24);
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
      }

      &-img {
        margin-bottom: to-rem(32);

        img {
          margin: 0 auto;
        }
      }

      .button {
        width: 100%;
        max-width: 100%;
      }
    }

    &__slide {
      height: auto;
      min-height: to-rem(400);
      background: var(--color-card-bg);
      border-radius: to-rem(24);
      padding: to-rem(24);

      @media (max-width: 1199px) {
        max-width: to-rem(327);
      }

      @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: to-rem(180) 1fr;
        gap: to-rem(16);
        min-height: to-rem(437);
        padding: to-rem(8);
        padding-right: to-rem(41);
      }

      @media (min-width: 1300px) {
        grid-template-columns: to-rem(205) 1fr;
        gap: to-rem(32);
      }

      &-link {
        margin: to-rem(48, 0, 32);

        @media (min-width: 1200px) {
          display: none;
        }
      }

      &-left {
        display: flex;
        flex-direction: column;
        gap: to-rem(8);
      }

      &-logo {
        display: none;

        @media (min-width: 1200px) {
          display: flex;
          align-items: center;
          justify-content: center;
          background: var(--color-gray);
          border-radius: to-rem(16, 16, 8, 8);
          min-height: to-rem(124);
        }
      }

      &-img {
        display: none;

        @media (min-width: 1200px) {
          display: block;
          flex: 1 1 auto;
          position: relative;
          min-height: to-rem(209);
          border-radius: to-rem(8, 8, 16, 16);
          overflow: hidden;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &-info {
        display: flex;
        flex-direction: column;

        @media (min-width: 1200px) {
          padding: to-rem(24);
          padding-left: 0;
        }
      }

      &-title {
        margin-bottom: to-rem(16);
      }

      &-steps, &-description, &-caption {
        opacity: 0.5;
      }

      &-bottom {
        margin-top: auto;
      }

      &-progress {
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(12, 0);
        transition: width 2s ease;

        @media (min-width: 1200px) {
          width: 0;
        }
      }

      &-tags {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: to-rem(80);
        gap: to-rem(4);
      }

      &-tag {
        color: var(--color-primary);
        background: rgba(#F8F1DF, 0.05);
        border: to-rem(1) solid rgba(#fff, 0.1);
        border-radius: to-rem(8);
        padding: to-rem(11, 20);
      }
    }
  }

  &-letters, &-messengers {
    .swiper {
      overflow: visible;

      @media (min-width: 1200px) {
        overflow: hidden;
      }
    }

    .swiper-slide {
      @media (min-width: 1200px) {
        opacity: 0;
      }

      &-visible {
        @media (min-width: 1300px) {
          opacity: 1;
          animation: show 0.4s ease-in-out;
        }
      }

      &.swiper-slide-visible {
        .reviews-messengers, .reviews-letters {
          &__slide {
            &-progress {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .slider-navigation {
    z-index: 1;
  }

  .button--more {
    margin-top: to-rem(48);
  }

  &.block-main {
    .reviews-messengers, .reviews-letters {
      grid-template-columns: 1fr;
    }

    .reviews-messengers__slider, .reviews-letters__slider {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: to-rem(16);
    }
  }
}