.main-top {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  .l-default {
    @media (max-width: 1199px) {
      padding: to-rem(0, 16);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: to-rem(16);

    @media (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__video {
    position: relative;
    height: 100%;
    min-height: to-rem(327);
    border-radius: to-rem(16);
    overflow: hidden;

    @media (min-width: 992px) {
      min-height: to-rem(500);
      border-radius: to-rem(32);
    }

    @media (min-width: 1200px) {
      width: 50%;
      min-height: to-rem(643);
    }

    video, iframe, img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: to-rem(0, 8);

    @media (min-width: 1200px) {
      width: 50%;
      min-height: 100%;
      padding: 0;
      padding-top: to-rem(24);
    }
  }

  &__title {
    max-width: to-rem(492);
  }

  &__description {
    max-width: to-rem(367);
    opacity: 0.5;
    margin-top: to-rem(16);
  }

  &__slider {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: to-rem(81) 1fr to-rem(242);
      gap: to-rem(24);
      border-radius: to-rem(32);
      background: var(--color-card-bg);
      padding: to-rem(8);
      margin-top: to-rem(40);
    }

    @media (min-width: 1200px) {
      margin-top: auto;
    }

    &-progressbar {
      display: none;

      @media (min-width: 768px) {
        position: relative;
        display: block;
        width: 100%;
        height: to-rem(2);
        border-radius: to-rem(1);
        background: var(--color-gray);
        margin-top: auto;
      }

      .swiper-pagination-bullet {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        z-index: 1;
        border-radius: to-rem(1);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%) !important;

        &-active {
          width: 100%;
          transition: all 3.5s ease;
        }
      }
    }

    &-left {
      padding: to-rem(16, 0, 8);

      @media (max-width: 767px) {
        display: none;
      }
    }

    &-right {
      display: none;

      @media (min-width: 768px) {
        display: block;
      }
    }

    &-mobile {
      margin-top: to-rem(40);

      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  .button {
    max-width: 100%;
    margin-top: to-rem(24);

    @media (min-width: 768px) {
      max-width: fit-content;
      min-width: to-rem(333);
      margin-top: to-rem(48);
    }
  }

  .swiper {
    width: 100%;

    @media (max-width: 767px) {
      overflow: visible;
    }

    &-slide {
      height: auto;
    }
  }

  .slider-navigation {
    width: 100%;
    height: 100%;
  }

  &__slide {
    @media (max-width: 767px) {
      max-width: to-rem(327);
      border-radius: to-rem(16);
      background: var(--color-card-bg);
      padding: to-rem(16, 16, 32);
    }

    &-title {
      margin-bottom: to-rem(16);
    }

    &-text {
      opacity: 0.5;
      max-width: to-rem(245);

      @media (min-width: 768px) {
        max-width: fit-content;
      }
    }

    &-img {
      min-height: to-rem(166);
      border-radius: to-rem(24);
      margin-left: auto;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
  }

  &-page {
    .main-top {
      &__info {
        padding-top: 0;
      }
    }

    .breadcrumbs {
      margin-bottom: to-rem(15);
    }
  }

  .slider-navigation {
    display: none;

    @media (min-width: 768px) {
      display: flex;
    }
  }

  .slider-pagination {
    @media (min-width: 768px) {
      display: none;
    }
  }
}