include data.pug
include ../.././components/button/button.pug
include ../.././components/image/image.pug
include ../.././components/slider-navigation/slider-navigation.pug

section.main-top
  .l-default
    .main-top__wrapper
      .main-top__info
        h1.main-top__title.f-h1 Аутсорсинг ВЭД. Импорт и экспорт под ключ
        +button({
          text: 'Рассчитать стоимость',
          icon: main_top_icon,
          href: '#',
          theme: 'button--light',
        })
        .main-top__slider
          +slider-navigation({
            type: 'custom',
          })
          .main-top__slider-left.swiper
            .swiper-wrapper
              each main_top_slide in main_top_slides
                .main-top__slide.swiper-slide
                  .main-top__slide-title.f-h5.fade-bottom= main_top_slide.title
                  .main-top__slide-text.f-body-small.fade-bottom= main_top_slide.text
            .main-top__slider-scrollbar
          .main-top__slider-right.swiper
            .swiper-wrapper
              each main_top_slide in main_top_slides
                .main-top__slide.swiper-slide
                  .main-top__slide-img.filter-fade
                    +image({
                      src: main_top_slide.src,
                      type: main_top_slide.type,
                    })
        .main-top__slider-mobile
          .swiper-wrapper
            each main_top_slide in main_top_slides
              .main-top__slide.swiper-slide
                .main-top__slide-title.f-h5.fade-bottom= main_top_slide.title
                .main-top__slide-text.f-body-small.fade-bottom= main_top_slide.text
          .main-top__slider-pagination.slider-pagination
      .main-top__video
        video(autoplay mute loop)
          source(src="videos/1.mp4" type="video/mp4")
