include ../.././components/button/button.pug

section.main-top
  .l-default
    .main-top__wrapper
      .main-top__info
        h1.main-top__title.f-h1 Аутсорсинг ВЭД. Импорт и экспорт под ключ
        +button({
          text: 'Рассчитать стоимость',
          icon: '',
        })
      .main-top__video