-
  const advantages_items = [
    {
      step: '01',
      title: 'Защита',
      text: 'Полная защита интересов клиента на всех этапах',
    },
    {
      step: '02',
      title: 'Консультации',
      text: 'Компетентное консультирование по всем интересующим клиента вопросам в рамках сделки доступным языком',
    },
    {
      step: '03',
      title: 'Логистика',
      text: 'Оперативное решение логистических задач любой сложности',
    },
    {
      step: '04',
      title: 'Комиссии',
      text: 'Отсутствие скрытых комиссий при работе с нашей компанией',
    },
    {
      step: '05',
      title: 'Законность',
      text: 'Отсутствие скрытых комиссий при работе с нашей компанией',
    },
    {
      step: '06',
      title: 'Экономия',
      text: 'Экономим ваши время, расходы по ВЭД и налоги',
    },
    {
      step: '07',
      title: 'Санкции',
      text: 'Осуществляем экспорт и импорт в условиях санкций',
    },
    {
      step: '08',
      title: '????',
    }
  ]