.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: to-rem(4, 0);

  .breadcrumb {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      &:before {
        content: '';
        min-width: to-rem(40);
        min-height: to-rem(1);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
        margin: to-rem(0, 8);
      }
    }

    &:last-child {
      pointer-events: none;
    }
  }
}