-
    const plus_icon_posts = `<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path opacity="0.4" fill-rule="evenodd" clip-rule="evenodd" d="M12 5.25C12.4142 5.25 12.75 5.58579 12.75 6V18C12.75 18.4142 12.4142 18.75 12 18.75C11.5858 18.75 11.25 18.4142 11.25 18V6C11.25 5.58579 11.5858 5.25 12 5.25Z" fill="#F8F1DF"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M18.75 12C18.75 12.4142 18.4142 12.75 18 12.75L6 12.75C5.58579 12.75 5.25 12.4142 5.25 12C5.25 11.5858 5.58579 11.25 6 11.25L18 11.25C18.4142 11.25 18.75 11.5858 18.75 12Z" fill="#F8F1DF"/>
    </svg>`

    const post_items = [
      {
        img: 'main-top/1',
        type: 'jpg',
        title: 'Сотрудничество ЮУрГУ и Импос Трейд',
        date: '02.02.2024',
        description: 'СМИ о нас. Публикация в издании Аргументы и Факты — сотрудничество с ЮУрГУ',
      },
      {
        img: 'main-top/2',
        type: 'jpg',
        title: 'Итоги года и изменения в законодательстве',
        date: '02.02.2024',
        description: 'В материале: цифры по результатам нашей деятельности в 2023 году, а также что нового в законодательстве по внешнеэкономической деятельности в январе 2024 года.',
      },
      {
        img: 'main-top/3',
        type: 'jpg',
        title: 'НДС при экспорте',
        date: '02.02.2024',
        description: 'НДС — это косвенный налог, исчисляемый с товаров и услуг. На территории Российской Федерации действуют две ставки НДС – 10% и 20%. При реализации товаров в рамках таможенной процедуры экспорт, ставка НДС составляет 0%.',
      },
      {
        img: 'main-top/4',
        type: 'jpg',
        title: 'Переработка на таможенной территории',
        date: '02.02.2024',
        description: 'Эта процедура используется, когда иностранные товары завозятся на таможенную территорию России или ЕАЭС, перерабатываются в срок до 3 лет. Продукты переработки товаров вывозятся с таможенной территории. При этом к товарам применяется полное условное освобождение от уплаты таможенных платежей (вносится обеспечение и после вывоза продуктов переработки оно возвращается).',
      },
    ]