.steps {
  position: relative;
  background: var(--color-card-bg);
  border-radius: to-rem(32);
  padding: to-rem(24);
  margin-bottom: to-rem(24);

  &__wrapper {
    display: flex;
    align-items: flex-start;
    gap: to-rem(12);
    min-height: to-rem(126);
  }

  .step {
    position: relative;
    width: to-rem(98);
    text-align: center;
    color: var(--color-primary);
    border-radius: to-rem(8);
    border: to-rem(1) solid rgba(#fff, 0.1);
    white-space: nowrap;
    padding: to-rem(13);
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-card-bg);
      background: var(--color-primary);
    }

    &:nth-child(2n) {
      align-self: flex-end;
    }
  }

  &__progress, &__progressbar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    // width: 100%;
    // max-width: calc(100% - 67px);
    height: to-rem(2);
    transition: all 0.8s ease-in-out;
  }

  &__progress {
    background: var(--color-gray);
  }

  &__points {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: to-rem(10);
  }

  &__point {
    position: absolute;
    top: 50%;
    width: to-rem(10);
    height: to-rem(10);
    border-radius: 100%;
    background: var(--color-gray);
    cursor: pointer;
    transform: translateY(-50%);
    transition: background 0.4s ease;

    &:hover {
      background: var(--color-primary);
    }
  }

  &__progressbar {
    width: to-rem(24);
    height: to-rem(24);
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      z-index: 2;
      width: to-rem(32);
      height: to-rem(24);
      transform: translateY(-50%);
      background-image: url('.././img/scheme/logo-bar.png');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      width: to-rem(16);
      height: 100%;
      background-color: var(--color-card-bg);
    }

    .steps {
      &__point {
        background: var(--color-primary);
      }

      &__bar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: to-rem(2);
        background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
      }
    }
  }
}