mixin steps()
  .steps
    .steps__wrapper
      .steps__progress
        .steps__points
      .steps__progressbar
        .steps__bar
        .steps__points
        .logo
          <svg width="32" height="24" viewBox="0 0 32 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15.9217 12.4768L10.3192 5.69131L5.78516 0.143182C5.85653 0.104201 5.93292 0.0751227 6.01219 0.0567177C6.19974 0.00970544 6.39342 -0.00825624 6.58645 0.00348683C7.10731 0.036749 7.66822 0.7286 8.06888 1.20758L16.7497 11.8515L15.9217 12.4768Z" fill="#F8F1DF"/>
            <path d="M8.19168 22.8401C8.04418 22.9943 7.89667 23.1418 7.75587 23.2691C7.70326 23.324 7.64727 23.3754 7.58825 23.4233C7.197 23.7966 6.67449 24.001 6.13373 23.9922C5.59297 23.9834 5.07741 23.7622 4.69849 23.3764L4.56438 23.2423L4.53087 23.2088L4.43028 23.1015L4.39005 23.0613L4.30288 22.9675L4.25597 22.9205L4.1688 22.8267L4.12857 22.7798L4.04141 22.6792L4.00118 22.639C1.7351 20.0634 0.353649 16.8298 0.0592449 13.4121C-0.235159 9.99445 0.572967 6.57234 2.36521 3.64726C2.96864 2.66181 4.19562 0.824986 5.4226 0.29539C5.63305 0.192009 5.85996 0.126209 6.09308 0.100976C6.32789 0.0765008 6.56501 0.114456 6.78046 0.210979C6.9959 0.307503 7.18203 0.459178 7.32004 0.650688C7.4005 0.778059 10.1562 5.69861 10.1897 5.82598C9.13034 4.62601 8.43976 4.04279 7.60166 4.2372C7.18727 4.35888 6.82146 4.60739 6.55571 4.94779C6.17479 5.41054 5.84649 5.91417 5.57681 6.44942C4.54155 8.37802 4.06001 10.5553 4.18544 12.7406C4.31087 14.9258 5.03839 17.0337 6.28752 18.8312C12.1475 12.9766 17.9986 7.11534 23.8407 1.24733C23.9882 1.09314 24.1357 0.952356 24.2765 0.818281L24.4441 0.664108C24.8187 0.303156 25.3185 0.101309 25.8387 0.100976C26.116 0.0977792 26.3912 0.150113 26.648 0.254883C26.9048 0.359652 27.138 0.514741 27.3339 0.711019L27.4747 0.851812L27.5753 0.959054L27.6155 0.999296L27.7094 1.09314L27.7496 1.14007L27.8367 1.23391L27.877 1.28755C27.9094 1.3155 27.9387 1.34697 27.9641 1.38139L28.0044 1.42161C30.2672 4.00027 31.6464 7.23458 31.9407 10.6524C32.235 14.0702 31.429 17.4926 29.6403 20.42C29.0369 21.4055 27.8099 23.2423 26.583 23.8054C26.371 23.9035 26.1446 23.9669 25.9125 23.9931C25.6777 24.0176 25.4405 23.9797 25.2251 23.8832C25.0096 23.7866 24.8235 23.6349 24.6855 23.4434C24.605 23.3161 21.8494 18.3955 21.8158 18.2681C22.8752 19.4681 23.5658 20.0513 24.4106 19.8569C24.8222 19.7332 25.1852 19.4849 25.4498 19.1463C25.8308 18.6836 26.1591 18.1799 26.4287 17.6447C27.5847 15.5002 28.0528 13.0521 27.7697 10.6326C27.5527 8.7062 26.8616 6.86362 25.7583 5.26958C19.9027 11.1242 14.0517 16.9855 8.20508 22.8535" fill="#F8F1DF"/>
            <path d="M16.2655 11.2344L21.8747 18.0199L26.4021 23.568C26.3324 23.6104 26.2554 23.6397 26.1751 23.6545C25.9875 23.7015 25.7938 23.7194 25.6008 23.7077C25.0866 23.6744 24.519 22.9826 24.1184 22.5036L15.4375 11.8597L16.2655 11.2344Z" fill="#F8F1DF"/>
          </svg>
      .steps__pagination