.f {
  &-h1 {
    font-size: to-rem(32);
    line-height: to-rem(38);

    @media (min-width: 768px) {
      font-size: to-rem(48);
      line-height: to-rem(58);
    }
  }

  &-h2 {
    font-size: to-rem(28);
    line-height: to-rem(36);

    @media (min-width: 768px) {
      font-size: to-rem(44);
      line-height: to-rem(56);
    }

    br {
      @media (max-width: 1199px) {
        display: none;
      }
    }
  }

  &-h3 {
    font-size: to-rem(24);
    line-height: to-rem(36);

    @media (min-width: 768px) {
      font-size: to-rem(32);
      line-height: to-rem(40);
    }
  }

  &-h4 {
    font-size: to-rem(22);
    line-height: to-rem(26);

    @media (min-width: 768px) {
      font-size: to-rem(26);
      line-height: to-rem(32);
    }
  }

  &-h5 {
    font-size: to-rem(20);
    line-height: to-rem(24);
  }

  &-body {
    font-size: to-rem(16);
    line-height: to-rem(24);

    &-small {
      font-size: to-rem(14);
      line-height: to-rem(18);
    }
  }

  &-caps {
    font-size: to-rem(16);
    line-height: to-rem(18);
    text-transform: uppercase;

    &-small {
      font-size: to-rem(14);
      line-height: to-rem(14);
      text-transform: uppercase;
    }
  }

  &-menu {
    font-size: to-rem(16);
    line-height: to-rem(24);

    @media (min-width: 768px) {
      font-size: to-rem(20);
      line-height: to-rem(24);
    }
  }

  &-centered {
    text-align: center;
    margin: 0 auto;
  }
}