@font-face {
    font-family: "Exo2";
    src: url("../fonts/exo/Exo2-Regular.woff2") format("woff2"),
        url("../fonts/exo/Exo2-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
