h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input,
button,
textarea {
  -webkit-appearance: none;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
  overflow-x: clip !important;
}

body {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  min-height: 100vh;
  min-width: 320px;
  font-family: $primary_font;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-white);
  background: var(--color-dark);
  font-style: normal;
  letter-spacing: normal;
  flex-direction: column;

  &.on-scroll {
    // margin-top: 76px;
  }
}

.main {
  z-index: z("l-default");
  display: flex;
  flex: 1;
  flex-direction: column;
}

.l {
  &-default {
    margin: 0 auto;
    padding: 0 to-rem(16);
    transition: all 0.4s ease-in-out;

    @media (min-width: 768px) {
      padding: 0 to-rem(40);
    }

    @media (min-width: 1440px) {
      max-width: to-rem(1360);
    }
  }
}

.lazy,
.swiper-lazy {
  opacity: 0;
}

.loading,
.loaded,
[data-was-processed="true"],
[data-ll-status="entered"],
.swiper-lazy-loaded {
  opacity: 1;
  @include tr(all);
}

.hidden {
  display: none !important;
  opacity: 0 !important;
}

.show,
.show_btn {
  display: flex !important;
}

textarea,
a,
button,
input[type="submit"] {
  text-decoration: none;
  color: inherit;
  outline: none;
  @include tr(all);
}

a,
button,
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

button {
  background: none;
  border: none;
}

input,
video {
  border: none;
  outline: none;
}

.fancybox-content {
  padding: 0;
}

input,
textarea {
  &::placeholder {
    @include tr("all");
  }
  &:focus {
    &::placeholder {
      opacity: 0 !important;
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

.loader {
  z-index: z("loader");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
}

.fancybox-content {
  z-index: 99994;
  background: none;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
