include data.pug
include ../.././components/form/form.pug

section.horizontal-form
  .l-default
    .horizontal-form__container
      .horizontal-form__info
        h3.horizontal-form__title.f-h3 Будьте в курсе
        .horizontal-form__progress
        .horizontal-form__description.f-body Подпишитесь на нашу новостную рассылку и станьте первым, кто узнает о наших акциях , о специальных предложениях и многом другом
      .horizontal-form__wrapper
        +form({
          inputs: form_inputs,
          button: {
            text: 'Подписаться на рассылку',
            icon: horizontal_form_icon,
            theme: 'button--light'
          },
        })
