.horizontal-form {
  padding-bottom: to-rem(96);

  @media (min-width: 1200px) {
    padding-bottom: to-rem(160);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: to-rem(40);

    @media (min-width: 1200px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      gap: to-rem(131);
    }
  }

  &__info {
    width: 100%;
    max-width: to-rem(672);
  }

  &__wrapper {
    width: 100%;

    @media (min-width: 1200px) {
      max-width: to-rem(557);
    }
  }

  &__progress {
    display: none;

    @media (min-width: 1200px) {
      display: flex;
      height: to-rem(2);
      background: linear-gradient(270deg, #F8F1DF 0%, rgba(248, 241, 223, 0) 100%, rgba(248, 241, 223, 0) 100%);
      margin: to-rem(16, 0);
    }
  }

  &__description {
    max-width: to-rem(367);
    opacity: 0.5;
    margin-top: to-rem(8);

    @media (min-width: 1200px) {
      margin-left: auto;
      margin-top: 0;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      gap: to-rem(16);
    }

    &__inputs {
      display: grid;
      gap: to-rem(16);

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .button {
      max-width: 100%;

      @media (max-width: 767px) {
        margin-top: to-rem(32);
        margin-bottom: to-rem(16);
      }
    }

    &__privacy {
      max-width: to-rem(338);
    }
  }

  &-service {
    padding-bottom: to-rem(96);

    @media (min-width: 1200px) {
      padding-bottom: to-rem(40);
    }
  }
}