include data.pug
include ../.././components/form/form.pug

section.horizontal-form.horizontal-form-service
  .l-default
    .horizontal-form__container
      .horizontal-form__info
        h3.horizontal-form__title.f-h3 Остались вопросы?
        .horizontal-form__progress
        .horizontal-form__description.f-body Текст в разработке, описываем что с вами свяжется менеджен и ответит на все интересующие вопросы
      .horizontal-form__wrapper
        +form({
          inputs: form_inputs,
          button: {
            text: 'Задать вопрос',
            icon: horizontal_form_icon,
            theme: 'button--light'
          },
          privacy_text: 'Нажимая кнопку «Задать вопрос» я соглашаюсь на обработку персональных данных',
        })
